* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, select, textarea, button {
    font-family: noto sans,malgun gothic,AppleGothic,dotum;
    line-height: 1;
    letter-spacing: -.05em;
    color: #4c4c4c;
    font-size: 12px;
    max-width: 100%;
}
li{
    list-style: none;    
}
a {
    text-decoration: none;
}
header{
    margin: 0 auto;
    width: 100%;
    height: 156px;
}
#container{
    margin: 0 auto;
    width: 1050px;
}

#top-nav{
    height: 37px;
    width: 1050px;
    margin: 0 auto;

}

#delivery-info{
    float: left;
    height: 22px;
    width: 121px;
    margin-top: 12px;
}

.link-nav-li{
    float: left;
    height: 37px;
    line-height: 35px;
    white-space: nowrap;
}


.nav-border{
    display: inline-block;
    height: 13px;
    width: 1px;
    background-color: rgb(216, 216, 216);
}
#customer-div{
    display: inline-block;
    position: relative;
}
#customer-btn{
    position: absolute;
    padding: 4px;
    right: 2px;
    top: -6px;
    width: 8px;
    height: 5px;
    background: url(https://res.kurly.com/pc/ico/1908/ico_down_8x5.png) no-repeat 0 0;
}


.link-nav{

    float: right;
    white-space: nowrap;
}
.link-nav  li{
    float: left;
    list-style: none;
}
.link-nav  li  a{
    padding: 0 12px;
}
.link-nav-li  a{
    color: black;
}
#header-logo {
    position: relative;
    width: 1050px;
    height: 63px;
    margin: 0 auto;
}

#logo {
    position: absolute;
    top: -22px;
    bottom: -6px;
    height: 79px;
    display: block;
    width: 100%;
    text-align: center;
}
#logo img {
    width: 103px;
    height: 79px;

}

#bottom-nav {
    width: 1050px;
    height: 56px;
    margin: 0 auto;
    position: relative;
}
#bottom-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    line-height: 20px;


}
#bottom-nav div {
    float: left;
    text-align: center;
}
#bottom-nav div button{
    display: inline-block;
}

.ico{
    float: left;
    padding-top: 16px;
    width: 16px;
    height: 14px;
    margin:20px 2px 0 0;
    background: url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off.png) no-repeat;
}
.nav-text{
    vertical-align: middle;
    width: 116px;
    height: 39px;
}
.nav-input{
    position: relative;
    vertical-align: middle;
    width: 242px;
    height: 39px; 
}

#input-search{
    display: flex;
    width: 242px;
    height: 36px;
    padding: 0 60px 0 14px;
    border: 1px solid #f7f7f6;
    border-radius: 18px;
    background-color: #f7f7f7;
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 12px;
    color: #666;
    line-height: 16px;
    outline: none;
}

#input-search{
    position: relative;
}
.nav-input{
    margin-top: 12px;
}
#search-btn{
    position: absolute;
    right: 5px;
    top: 3px;
    width: 30px;
    height: 30px;
}


#location-btn{
        overflow: hidden;
        position: absolute;
        right: 107px;
        width: 36px;
        height: 36px;
        border: 0 none;
        background: url(https://res.kurly.com/pc/ico/2008/ico_delivery_setting_done.svg) no-repeat 50% 50%;
        font-size: 0;
        text-indent: -9999px;
}
#heart-btn{
    width: 36px;
    height: 36px;
    border: none;
    color: transparent;
    background: url(https://res.kurly.com/pc/service/pick/btn-heart-off.svg) no-repeat 50% 50%;
}
#heart-btn-div{
    display: inline-block;
    position: absolute;
    right: 51px;
    width: 36px;
    height: 36px;
    font-size: 0px;
}
#cart-btn {
    display: block;
    width: 36px;
    height: 36px;
    background: url(https://res.kurly.com/pc/service/common/2011/ico_cart.svg) no-repeat 50% 50%;
    border: none;
}
#cart-btn-div {
    position: absolute;
    right: -5px;
}

#slider {
    width: 100%;
    height: 370px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 600vw;
    height: 100%;
}

#slider .slide {
    float: left;
    width: 100vw;
    height: 370px;
}

.slide div{
    height: 370px;
    width: 100vw;
    background-size: cover;
    background-color: rgb(238, 238, 238);
    background-position: 50% center;
    background-repeat: no-repeat;
}


#img-1 {background-color: rgb(152, 255, 121);}
#img-2 {background-color: rgb(121, 255, 237);}
#img-3 {background-color: rgb(121, 168, 255);}
#img-4 {background-color: rgb(195, 121, 255);}
#img-5 {background-color: rgb(255, 121, 222);}
#img-6 {background-color: rgb(255, 121, 121);}